@font-face 
  font-family: 'Room Thin'  
  src: url('../fonts/Room Thin.ttf') format('truetype')
  font-weight: normal
  font-style: normal
  font-display: auto

@font-face 
  font-family: 'Room Bold'  
  src: url('../fonts/Room Bold.ttf') format('truetype')
  font-weight: bold
  font-style: normal
  font-display: auto
  
  
@mixin reg
  font-family: 'Room Thin', sans-serif
  font-weight: normal  
   
@mixin bold
  font-family: 'Room Bold', sans-serif
  font-weight: bold