*
  box-sizing: border-box
  -webkit-tap-highlight-color: transparent
html, body 
  margin: 0
  padding: 0
h1, h2, h3, h4, h5, h6, p, span
  margin: 0
  padding: 0
input, button, select, option
  outline: none
  -webkit-tap-highlight-color: transparent
  -webkit-appearance: none  
a  
  outline: none
  text-decoration: none
  -webkit-tap-highlight-color: transparent
img      
  max-width: 100%
.container-short
  width: 100%
  max-width: 944px
  padding: 0
  margin: 0 auto
.container-large
  position: relative
  width: 82.5vw
  max-width: 1584px
  padding: 0
  margin: 0 auto
  &__logo
    position: absolute
    left: 0
    top: 0
    width: 241px
    height: 120px
.section
  padding-top: 24px
  &-wrap
    background: $main-color 
    margin: 0 24px
    padding: 112px 0 96px 
  &-name
    font-size: 10px
    text-transform: uppercase
    +bold
    letter-spacing: 1.5px
    line-height: 16px
    color: $black-color       
  &-title
    position: relative
    font-size: 48px
    line-height: 56px
    letter-spacing: 0.5px
    +bold
    color: $black-color
    margin: 40px 0 24px 47px
    &:before
      position: absolute
      content: ''
      right: 100%
      width: 50px
      height: 4px
      transform: rotate(-15deg)
      background: $black-color       
  &-subtitle
    display: block
    font-size: 15px
    line-height: 20px
    letter-spacing: 0.16px
    +robo  
    color: $black-color
    margin-bottom: 30px
  &-header
    
    &__lines
      position: relative
      display: block
      width: 40px
      height: 4px
      transform: rotate(-15deg)
      background: $black-color
      &:before
        position: absolute
        content: ''
        left: 2px
        bottom: 8px
        width: 40px
        height: 4px        
        background: $black-color
    &__text
      display: block
      font-size: 34px
      +bold 
      color: $black-color
      padding-left: 50px
  &-subheader
    font-size: 15px
    line-height: 20px
    letter-spacing: 0.16px
    +robo  
    color: $black-color
  &-chapter
    &__lines
      position: relative
      display: inline-block
      width: 22px
      height: 4px
      transform: rotate(-15deg)
      background: $black-color
      &:before
        position: absolute
        content: ''
        left: 2px
        bottom: 8px
        width: 22px
        height: 4px        
        background: $black-color
      &:after
        position: absolute
        content: ''
        left: -2px
        top: 8px
        width: 22px
        height: 4px        
        background: $black-color
    &__text
      font-size: 24px
      +bold 
      color: $black-color
      padding-left: 24px
      line-height: 30px
  &-bottom
    display: flex
    align-items: center
    height: 200px
  &-call
    display: flex
    align-items: center
    justify-content: space-between
    flex-basis: 66% 
    &__name
      font-size: 14px
      line-height: 16px
      letter-spacing: 0.75px
      text-transform: uppercase
      +reg
      color: $main-color
      opacity: 0.8
    &__text
      font-size: 34px
      line-height: 44px
      +bold
      color: $main-color
  &-phone
    
    display: flex
    margin-left: 38px
    justify-content: center
    font-size: 34px
    line-height: 44px
    +bold
    color: $main-color
    
  &-buttons
    display: flex
    flex-basis: 34%
    justify-content: flex-end
    &-btn
      display: inline-block
      width: 224px 
      font-size: 14px
      line-height: 16px
      text-transform: uppercase
      +bold
      padding: 24px 0
      text-align: center
      border-radius: 4px
      &_red
        color: $red-color
        background: $main-color
      &_blue
        color: $blue-color
        background: $main-color
      &_green
        color: $green-color
        background: $main-color  
      &_white
        color: $main-color
        border: 1px solid rgba($main-color, 0.5)
        margin-left: 17px      
.black-line
  width: 100%
  height: 8px
  background: $black-color


 

@media (max-width: 1800px)
  .container-large
    &__logo 
      transform: translateX(-30px) 
      width: 128px
      height: 64px
  .section
    &-phone 
      margin-left: 0
      display: block
    &-call     
      display: block     
@media (max-width: 1440px)
  .container-large
    &__logo 
      transform: translateX(0)
      right: 0
      left: auto     
@media (max-width: 1200px)
  .container-large, .container-short
    max-width: 944px
    width: auto
    margin: 0 auto
   
  .section
    padding-top: 16px 
    &-wrap
      padding: 64px 0 80px
      margin: 0 16px
    &-buttons
      &-btn 
        width: 192px  
         
    
@media (max-width: 1024px)
  .container-short, .container-large
    max-width: 703px
  .container-short.about-container, .container-large.about-container
    max-width: 735px   
  
  
  .section-bottom, .section-call, .section-buttons
    display: block
  .section-bottom
    padding-top: 25px  

         
@media (max-width: 767px)
  .container-large
    margin: 0 16px
    &__logo
      left: 0
      top: -110px
      width: 176px
      height: 84px
      background: $main-color
      padding: 13px 27px 8px 23px
      border-radius: 4px 4px 0 0
      
  .container-short
    margin: 0   
  .section
    padding-top: 96px 
    &-wrap
      padding: 30px 0 80px
      margin: 0
      
      
    &-title
      font-size: 34px
      line-height: 44px
      width: 100%
      max-width: 340px
      margin: 20px 0 24px
      &:before 
        left: 0
        top: -30px
    &-subtitle
      margin-bottom: 32px    
    &-header
      &__lines
        margin-bottom: 8px
      &__text
        padding-left: 0    
    &-name 
      display: block
      padding-left: 56px
      transform: translateY(20px)
    &-buttons 
      
      &-btn
        width: 100%
        margin-left: 0
        margin-bottom: 20px
        &:last-child
          margin-bottom: 0
    &-bottom 
      padding-top: 45px      
    &-phone 
      font-size: 24px
      line-height: 30px  
  

// Ховеры
@media (min-width: 1025px)
  .menu-link.fixed
    transition: hover 0.3s
    &:hover
      color: $red-color
  .main-link__btn
    transition: 0.3s
    &:hover
      background: $hover-blue
  .about-item__link
    &:hover 
      &:after
        transform: scaleX(1)
  .section-buttons-btn
    transition: 0.3s
    &_red, &_blue, &_green, &_white
      &:hover
        background: rgba($main-color, 0.85)
  .dev-section-btn
    &:hover 
      color: $red-color                      
  .ind-section-btn
    &:hover 
      color: $green-color                      
  .etl-section-btn
    &:hover 
      color: $blue-color                      
  .development
    &-gallery       
      &-item     
        &:hover &__img         
          transform: scale(1.15)
        &:hover &__cover
          background: rgba(0, 0, 0, 0.15)
    &-block 
      &-info 
        &__link 
          &:hover 
            color: $main-color  
            background: $red-color 
            border: 1px solid $red-color
    &-sale 
      &-desc 
        &__btn 
          &:hover 
            background: rgba($red-color, 0.85)
  .industry-desc-text__btn 
    &:hover .industry-desc-text__arrow
      transform: translateX(16px)
      fill: $green-color
  .footer-copyrights-btn    
    &:hover svg
      transition: 0.3s
      transform: translateY(-10px)
  .footer-rights-webmaster
    &:hover 
      transition: 0.3s
      color: #507CDC
  .footer-link
    &:hover 
      &:after
        transform: scaleX(1)
  .input-btn
    &:hover
      transition: 0.3s 
      background: rgba(#507CDC, 0.85)
    &_red
      &:hover
        transition: 0.3s 
        background: rgba($red-color, 0.85)

             






           
  
