.development
  background: $red-color
      
              
  &-subtitle
    margin-bottom: 64px
  &-detail
    position: relative
    margin-bottom: 100px
    flex-direction: column
    flex-basis: 33.3% 
    &-item
      margin-bottom: 56px       
      &__value
        +reg 
        font-size: 96px
        line-height: 64px
        letter-spacing: 2px
        color: $red-color
        margin-right: 24px
      &__desc
        +robo 
        font-size: 14px
        line-height: 22px
        letter-spacing: 0.1px
        color: $black-color
    &-area
      position: absolute
      top: 0      
      left: 100%
      width: calc(50vw + 39% + 3px)
      background-image: url(../img/dev/beton.jpg)      
      height: 320px
      padding: 49px 0 0 81px
      overflow: hidden
      &__number
        display: block
        font-size: 112px
        line-height: 112px
        letter-spacing: 2px
        +bold
        color: $red-color
        margin-bottom: 20px
      &__text
        display: inline-block
        font-size: 27px
        line-height: 30px
        color: $grey-color
        +bold
        vertical-align: top
        margin-right: 26px
      &__index
        display: inline-block
        font-size: 344px        
        letter-spacing: 2px
        +bold 
        color: $main-color
        transform: translateY(-74px)
        sup 
          font-size: 58%
          top: -0.7em
  &-header
    margin-bottom: 24px
  &-subheader
    margin-bottom: 40px
  &-block
    margin-bottom: 24px
    &_last
      margin-bottom: 100px
    &__img
      img 
        display: block
    &-info
      padding: 12px 0 0 46px 
      &__name
        display: block
        font-size: 34px
        line-height: 44px
        +bold 
        margin-bottom: 16px
      &__time, &__adress
        display: block
        font-size: 10px
        line-height: 16px
        letter-spacing: 1.5px
        color: $grey-color
        text-transform: uppercase
        +bold
      &__year, &__place 
        display: block 
        font-size: 15px
        line-height: 20px
        +robo
        letter-spacing: 0.16px
        color: $black-color
        margin-bottom: 8px       
      &__place        
        margin-bottom: 16px
      &__btn
        margin: 0  
      &__link
        display: flex
        width: 240px
        font-size: 14px
        line-height: 16px
        letter-spacing: 0.75px
        +bold
        text-transform: uppercase
        color: $red-color
        border: 1px solid rgba($grey-color, 0.36)
        border-radius: 4px
        padding: 16px 0
        text-align: center
        justify-content: center
        align-items: center
        margin-bottom: 8px
  
  &-gallery
    position: relative    
    width: 100%
    margin-bottom: 96px 
    &-rent
      margin-bottom: 0  
    &-item
      position: relative 
      display: block
      max-width: 304px      
      overflow: hidden
      transform-style: preserve-3d
      
      &:hover &__img         
        transform: scale(1.15)
      &:hover &__cover
        background: rgba(0, 0, 0, 0.15)    
      &__img        
        display: block
        transition: 0.5s       
      &__cover
        position: absolute
        top: 0
        left: 0
        bottom: 0
        right: 0 
        transition: 0.5s       
        background: rgba(0, 0, 0, 0.36)
      &__text
        position: absolute
        top: 0
        left: 0
        padding: 24px
        +bold
        font-size: 24px
        line-height: 30px
        color: $main-color
  &-chapter
    margin-bottom: 40px
  &-sale
    margin-bottom: 64px
    &-img
      flex-basis: 50% 
    &-desc
      flex-basis: 50%
      padding-left: 48px
      &__title
        font-size: 34px
        line-height: 44px
        +bold            
      &__subtitle
        font-size: 20px
        line-height: 24px
        letter-spacing: 0.15px
        +bold
        margin-bottom: 28px             
      &__desc, &__prop, &__st
        font-size: 10px
        line-height: 16px
        +bold 
        text-transform: uppercase
        color: $grey-color
        letter-spacing: 1.5px            
      &__description, &__property, &__site
        font-size: 15px
        line-height: 20px
        +robo
        letter-spacing: 0.16px
        margin-bottom: 24px                
      &__btn
        +bold 
        font-size: 14px
        line-height: 16px
        letter-spacing: 0.75px
        text-transform: uppercase
        color: $main-color
        background: $red-color
        border-radius: 4px
        padding: 24px 0
        width: 256px
        text-align: center
          
  &-phones
    display: flex
  &-phone    
    &:last-child 
      position: relative
      &:after
        position: absolute
        content: 'отдел коммерческой недвижимости'
        left: 0
        top: -10px
        width: 248px
        +reg 
        font-size: 10px
        line-height: 16px
        letter-spacing: 1.5px
        text-transform: uppercase
        opacity: 0.8
   

@media (max-width: 1800px) 
  .development
    &-bottom
      height: 240px
    &-phones
      display: block
    &-phone 
      margin-top: 24px
@media (max-width: 1200px)
  .development
    &-detail 
      &-area
        width: calc(50vw + 40% + 7px)        
        &__index
          font-size: 324px      
@media (max-width: 1024px)
  .development
    &-block 
      flex-direction: column
      margin-bottom: 48px
      &_last
        margin-bottom: 48px 
      &-info 
        padding-left: 0
    &-numbers 
      flex-direction: column    
    &-detail
      flex-basis: 100%
      flex-direction: row
      justify-content: space-between 
      margin-bottom: 380px
      &-area
        left: 0
        top: 100%
        width: calc(50vw + 40% + 46px)          
    &-bottom   
      height: 300px      
@media (max-width: 767px)
  .development
    &-subtitle
      margin-bottom: 32px
    &-detail
      margin-bottom: 244px
      &-item 
        flex-direction: column
        margin-bottom: 40px
        &__value
          font-size: 64px
          line-height: 64px
          letter-spacing: 2px
        &__desc 
          font-size: 13px
          line-height: 20px
          
      &-area
        width: calc(50vw + 49% + 3px)
        padding: 30px 0 0 24px
        height: 188px
        &__number 
          font-size: 64px
          line-height: 64px
          letter-spacing: 2px
          margin-bottom: 0
        &__text 
          font-size: 20px
          line-height: 24px
          letter-spacing: 0.15px
          margin-right: 0
        &__index
          font-size: 160px
          line-height: 112px
          transform: translateY(10px)    
    &-block      
      &-info
        &__link
          width: 100%              
    &-sale 
      flex-direction: column
      &-img 
        margin-bottom: 18px
      &-desc 
        padding-left: 0 
        &__btn 
          width: 100% 
    &-phones
      margin-bottom: 24px 
    &-bottom 
      height: 450px
      padding-top: 50px  



   
    
    
