.etalon
  background: $blue-color
  &-subtitle
    margin-bottom: 120px
        
  &-img
    transform: translateY(-40px)
    img
      display: block
  &-block
    width: 80%
    height: 488px
    background-image: url(../img/ind/Beton4.jpg)
    background-size: cover
    justify-content: flex-end
    margin-bottom: 50px
    &-text 
      margin-right: 80px
    &-img 
      margin-right: 3vw
      transform: translateY(-57px)
    &__title
      +robot 
      font-size: 20px
      line-height: 32px
      letter-spacing: 0.16px
      color: $grey-color  
    &-value
      &__count
        +reg 
        font-size: 96px
        line-height: 112px
        letter-spacing: 2px
        color: $blue-color
        margin-right: 23px
      &-info 
        &__icon
          +reg 
          color: $blue-color
          font-size: 48px          
          letter-spacing: 2px
        &__text
          +robot  
          font-size: 14px
          line-height: 22px
          letter-spacing: 0.1px
        &__svg
          width: 38px
          height: 41px  
  &-works
    &__title
      font-size: 20px
      line-height: 32px
      letter-spacing: 0.16px
      +robo
      color: $black-color
      margin-bottom: 50px
    &-item 
      &__svg
        display: block
        width: 91px
      &__text
        font-size: 14px
        line-height: 22px
        letter-spacing: 0.1px
        +robo    


