.getprice
  padding: 50px 81px
  overflow: visible
  &-close
    position: absolute
    top: 0
    left: 100%
    border: none
    background: transparent
    cursor: pointer
    width: 44px
    height: 44px
  &-input-submit
    margin-top: 16px
@media (max-width: 767px)
  .getprice
    width: 100%
    max-width: 512px
    margin-top: 50px
@media (max-width: 567px)
  .getprice
    max-width: 382px
    padding: 38px 16px      