.header
  position: absolute
  top: 0
  left: 0
  width: 100%
  padding: 47px 210px 0 168px
  z-index: 1
  &-logo
    width: 396px
    height: 60px
  
            
@media (max-width: 1440px)
  .header
    padding: 54px 128px 0
    &-logo
      width: 267px
      height: 40px
@media (max-width: 1200px)
  .header 
    padding: 34px 60px 0
    
@media (max-width: 1024px)
  .header
    padding: 10px 20px 0
    &-logo
      width: 199px
      height: 30px 
     
@media (max-width: 767px) and (min-width: 320px)
  .header 
    padding: 20px 20px 0
    
         

    
              