.industry
  background: $green-color
  &-subtitle
    margin-bottom: 40px
  &-img
    margin-bottom: 56px
    img
      display: block
  &-numbers
    &-item 
      &__count
        display: block
        margin-bottom: 16px
        +reg 
        font-size: 96px
        line-height: 64px
        letter-spacing: 2px        
        color: $green-color
      &__text
        display: block
        +robot
        font-size: 14px
        line-height: 22px
        color: $black-color          
  &-liebherr
    display: block
    transform: translateY(-12px)    
    width: 128px
